@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-primary: #f97316;
  --color-primary-hover: #ea580c;

  --color-background: #ffffff;
  --color-surface: #f9fafb;

  --color-text: #111827;

  --color-footer-border: #e5e7eb;
  --color-footer-text: #4a5565;
}


@utility btn-primary {
  @apply
    px-6
    py-2
    rounded-lg
    font-semibold
    text-white
    bg-primary
    hover:bg-primary-hover
    transition-colors;
}